<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <handlers>
		  <add name="Python FastCGI" 
		  path="*" 
		  verb="*" 
		  modules="FastCGIModule" 
		  scriptProcessor="c:\python39\python.exe|c:\python39\lib\site-packages\wfastcgi.py"
		  resourceType="Unspecified" 
		  requireAccess="Script"/>
    </handlers>
  </system.webServer>
  <appSettings>
	<add key="PYTHONPATH" value="C:\inetpub\wwwroot\reports-manager-master"/>
	<add key="WSGI_HANDLER" value="main.wsgi.application" />
	<add key="DJANGO_SETTINGS_MODULE" value="main.settings" />
  </appSettings>
</configuration>
