{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'styl.css' %}">
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
    <div class="top">
        <span class="hello">Witaj, {{ user.username }}!</span>

        {% if user.is_superuser %}
        <a href="raports_maker">Stwórz raport</a>
        {% endif %}

        <a href="raports_view">Przeglądaj raporty</a>
        <div class="pull-right">
            <a href="logout">Wyloguj</a>
        </div>
    </div>

    {% block content %}
    {% endblock %}
</body>
</html>