{% extends 'index.html' %}
{% load static %}
{% block content %}
<nav class="navbar navbar-expand-lg my_nav mb-4 circular-whole w-100">
        <div class='d-flex justify-content-center w-100'>
            <button data-toggle="modal" data-target="#add" class='pb-3 pt-3 pl-5 pr-5 ml-1 btn-outline-info badge-pill'>DODAJ ZADANIE</button>
        </div>
</nav>
<div class='d-flex justify-content-center w-100'>
    <div class='d-flex justify-content-center w-50 task_container'>
        <div class='d-flex flex-column w-100'>
            {% for task in tasks %}
                <div class='m-4 pt-3 pb-3 d-flex task'>
                    <div class='m-2 w-75 text-center'>
                        {% if task.complete %}
                            <s>{{task.title|linebreaksbr}}</s>
                            {% else %}
                            <span>{{task.title|linebreaksbr}}</span>
                        {% endif %}
                    </div>
                    <div class='d-flex flex-column h-100 justify-content-center m-3 w-25 text-right my-auto'>
                        <div>
                            <a href='#' data-toggle="modal" data-target="#task{{task.id}}"><img src={% static 'create-white-48dp.svg' %}></a>
                            <a href='{% url 'delete_task' task.id %}'><img src={% static 'delete-white-48dp.svg' %}></a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

<!-- Modal EDIT TASK -->
{% for task in tasks %}
    <div class="modal fade" id="task{{task.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title title" id="exampleModalLabel">Edytuj</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form action='{% url 'edit_task' task.id %}' method="post">
                {% csrf_token %}
                <div class="modal-body mr-auto ml-auto">
                    <textarea rows=10 name='title{{task.id}}' id='title{{task.id}}'>{{task.title}}</textarea>
                    <div class='d-flex w-100 justify-content-center'>
                        <input data-width="150" type="checkbox" data-on="Skończone" data-off="Nieskończone" data-toggle="toggle" data-onstyle="primary" data-offstyle="secondary" name="complete{{task.id}}" id="complete{{task.id}}" {% if task.complete %} checked {% endif %}>
                    </div>
                </div>
                <div class="modal-footer p-0 pb-3 mr-auto ml-auto">
                    <button type="button" class="btn mt-4 ml-auto pb-3 pt-3 pl-5 pr-5 btn-secondary badge-pill" data-dismiss="modal">ANULUJ</button>
                    <button type='submit' class='btn mt-4 mr-auto pb-3 pt-3 pl-5 pr-5 btn-primary badge-pill'>ZAPISZ</button>
                </div>
                </form>
            </div>
        </div>
    </div>
{% endfor %}
<!-- Modal EDIT TASK -->
<div class="modal fade" id="add" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title title" id="exampleModalLabel">Nowe zadanie</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="to_do_list" method="post">
            {% csrf_token %}
            <div class="modal-body mr-auto ml-auto">
                <textarea rows=10 name='title' id='title' placeholder='Treść zadania'></textarea>
            </div>
            <div class="modal-footer p-0 pb-3 mr-auto ml-auto">
                <button type="button" class="btn mt-4 ml-auto pb-3 pt-3 pl-5 pr-5 btn-secondary badge-pill" data-dismiss="modal">ANULUJ</button>
                <button type='submit' class='btn mt-4 mr-auto pb-3 pt-3 pl-5 pr-5 btn-primary badge-pill'>DODAJ</button>
            </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}